<mat-toolbar color="primary">
  <span class="app-title">HelpMe</span>
  <ul>
    <li>
      <a mat-button routerLink="/posts" [routerLinkActive]="'mat-accent'"
        >Posts</a
      >
    </li>
    <li>
      <a
        *ngIf="this.userAuthenticated"
        mat-button
        routerLink="/posts/create"
        [routerLinkActive]="'mat-accent'"
        >New Post</a
      >
    </li>
    <li class="nav-separator"></li>
    <li>
      <a mat-button routerLink="/workshops" [routerLinkActive]="'mat-accent'"
        >Workshops</a
      >
    </li>
    <li class="nav-separator"></li>
    <li>
      <a
        *ngIf="!this.userAuthenticated"
        mat-button
        routerLink="/login"
        [routerLinkActive]="'mat-accent'"
        >Login</a
      >
    </li>
    <li *ngIf="this.userAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
