<h2 mat-dialog-title>Apply to workshop?</h2>
<div class="participant-added-message" *ngIf="this.participantAdded">
  Participant successfuly added to workshop!
</div>
<mat-spinner *ngIf="this.loading"></mat-spinner>
<div mat-dialog-content *ngIf="!this.loading && !this.participantAdded">
  <p>
    This action will apply you to the workshop
    <i>{{ this.data.workshopTitle }}</i
    >. To continue please provide full name and e-mail address.
  </p>
  <mat-form-field>
    <mat-label>Full name</mat-label>
    <input
      matInput
      [(ngModel)]="data.fullname"
      placeholder="e.g. Ivan Horvat"
      [formControl]="fullnameControl"
      required
    />
    <mat-error>Please provide valid full name.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>E-mail address</mat-label>
    <input
      matInput
      [(ngModel)]="data.email"
      [formControl]="emailControl"
      placeholder="e.g. ihorvat@tvz.hr"
      required
      email
    />
    <mat-error>Please provide a valid e-mail address.</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close *ngIf="!this.participantAdded">
    Cancel
  </button>
  <button
    mat-button
    color="accent"
    [disabled]="this.fullnameControl.invalid || this.emailControl.invalid"
    (click)="onApplyClicked()"
    *ngIf="!this.participantAdded"
  >
    Apply
  </button>
  <button
    mat-button
    [mat-dialog-close]="this.newParticipant"
    *ngIf="this.participantAdded"
  >
    OK
  </button>
</div>
