<mat-spinner *ngIf="this.loading"></mat-spinner>
<div class="post-created-message" *ngIf="this.postCreated && !this.loading">
  Post created successfuly!
</div>
<mat-card *ngIf="!this.loading && !this.postCreated">
  <form [formGroup]="postForm">
    <mat-form-field>
      <input
        matInput
        required
        formControlName="postTitle"
        placeholder="Post title"
      />
      <mat-error>Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        required
        formControlName="postSummary"
        rows="4"
        placeholder="Post summary"
      ></textarea>
      <mat-error>Please enter a post summary.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        required
        formControlName="postSlug"
        placeholder="Post url identifier"
      />
      <mat-hint>{{
        "https://helpme/posts/" + this.postForm.value.postSlug
      }}</mat-hint>
      <mat-error>Please enter a post url identifier.</mat-error>
    </mat-form-field>
  </form>

  <ckeditor
    [editor]="editor"
    [(ngModel)]="editorContent"
    [config]="editorConfig"
  ></ckeditor>

  <button
    mat-raised-button
    type="submit"
    color="primary"
    [disabled]="this.postForm.invalid || this.editorContent.length == 0"
    (click)="onSavePost()"
  >
    Save Post
  </button>
</mat-card>
