<mat-card>
  <form [formGroup]="postForm">
    <mat-form-field>
      <input
        matInput
        required
        formControlName="postTitle"
        placeholder="Post title"
      />
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        required
        formControlName="postSummary"
        rows="4"
        placeholder="Post summary"
      ></textarea>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        required
        formControlName="postSlug"
        placeholder="Post url identifier"
      />
      <mat-hint>{{
        "https://helpme/posts/" + this.postForm.value.postSlug
      }}</mat-hint>
    </mat-form-field>
  </form>

  <ckeditor
    [editor]="editor"
    [(ngModel)]="editorContent"
    [config]="editorConfig"
  ></ckeditor>

  <button
    mat-raised-button
    type="submit"
    color="primary"
    [disabled]="this.postForm.invalid || this.editorContent.length == 0"
    (click)="onSavePost()"
  >
    Save Post
  </button>
</mat-card>
