mat-spinner {
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
}

:host ::ng-deep .ck-editor {
  margin-top: 2rem;
}

button {
  margin-top: 25px;
}

.post-created-message {
  width: fit-content;
  margin: 50px auto;
}
