<mat-spinner *ngIf="this.loading"></mat-spinner>
<div *ngIf="!this.loading">
  <mat-card *ngFor="let post of posts">
    <h2>
      <a [routerLink]="['/posts', post.slug]" (click)="onPostSelected(post)"
        >{{ post.title }}
      </a>
    </h2>
    <div>{{ post.summary }}</div>
    <div class="post-actions" *ngIf="this.userAuthenticated">
      <button><mat-icon color="primary">edit</mat-icon></button>
      <button><mat-icon color="primary">delete</mat-icon></button>
    </div>
  </mat-card>
</div>
