mat-card {
  margin-top: 1rem;
}

mat-spinner {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #0f87ac;
}

a:hover {
  color: #fc5226;
  text-decoration: none;
}

.post-actions {
  text-align: end;
  margin-top: 15px;
  padding-right: 20px;
}

.post-actions button {
  border: none;
  cursor: pointer;
}

mat-icon {
  margin-right: 10px;
  font-size: 1.8rem;
}

mat-icon:hover {
  color: #ff4081;
}
