<mat-spinner *ngIf="this.loading"></mat-spinner>
<div
  class="workshop-created-message"
  *ngIf="this.workshopCreated && !this.loading"
>
  Workshop created successfuly!
</div>
<mat-card *ngIf="!this.loading && !this.workshopCreated">
  <form [formGroup]="workshopForm">
    <mat-form-field>
      <input
        matInput
        required
        formControlName="workshopTitle"
        placeholder="Workshop title"
      />
      <mat-error>Please enter a workshop title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        required
        formControlName="workshopSummary"
        rows="4"
        placeholder="Workshop summary"
      ></textarea>
      <mat-error>Please enter a workshop summary.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        required
        formControlName="workshopAddress"
        placeholder="Workshop address"
      />
      <mat-error>Please enter a workshop address.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="datetime-local"
        formControlName="workshopDateTime"
        required
        placeholder="Workshop date and time"
      />
      <mat-error>Please enter a workshop date and time.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        formControlName="workshopAvailablePlaces"
        placeholder="Available seats in workshop"
      />
      <mat-error>Please enter a number between 1 and 100.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        required
        formControlName="workshopSlug"
        placeholder="Workshop url identifier"
      />
      <mat-hint>{{
        "https://helpme/workshops/" + this.workshopForm.value.workshopSlug
      }}</mat-hint>
    </mat-form-field>

    <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="this.workshopForm.invalid"
      (click)="onSaveWorkshop()"
    >
      Save
    </button>
  </form>
</mat-card>
