<mat-spinner *ngIf="this.loading"></mat-spinner>
<div class="workshop" *ngIf="!this.loading">
  <div class="workshop-title">
    <h1>{{ workshop?.title }}</h1>
  </div>
  <div class="workshop-summary">
    {{ workshop?.summary }}
  </div>
  <div class="workshop-event-info">
    <p>
      <i
        >The workshop will be held at {{ workshop?.address }}, on
        {{ workshop?.dateTime.toLocaleDateString() }}
        {{ workshop?.dateTime.toLocaleTimeString() }}.</i
      >
    </p>
  </div>
  <div class="workshop-footer">
    <div class="workshop-places">
      <i
        >Seats taken: {{ workshop?.participants.length }}/{{
          workshop?.availablePlaces
        }}</i
      >
    </div>
    <button
      mat-raised-button
      class="workshop-apply"
      color="accent"
      (click)="onApplyToWorkshop()"
      *ngIf="
        this.workshop?.participants.length < this.workshop?.availablePlaces;
        else noMorePlacesMessage
      "
    >
      Apply to workshop
    </button>
    <ng-template #noMorePlacesMessage>No more seats available</ng-template>
  </div>
</div>
