<mat-spinner *ngIf="this.loading"></mat-spinner>
<div class="workshop" *ngIf="!this.loading">
  <div class="workshop-title">
    <h1>{{ workshop?.title }}</h1>
  </div>
  <div class="workshop-summary">
    {{ workshop?.summary }}
  </div>
  <div class="workshop-event-info">
    <p>
      <i
        >The workshop will be held at {{ workshop?.address }}, on
        {{ workshop?.dateTime.toLocaleDateString() }}
        {{ workshop?.dateTime.toLocaleTimeString() }}.</i
      >
    </p>
  </div>
  <div class="workshop-places">
    <i
      >Seats taken: {{ workshop?.takenPlaces }}/{{
        workshop?.availablePlaces
      }}</i
    >
  </div>
</div>
